
### Atividade Prática 3 - MongoDB

1. Extrair os dados da API do Banco Central (Atividades 3 e 4).

2. Criar um banco de dados no MongoDB Atlas e as respectivas 
coleções para armazenar os recursos retornados pela API.

3. Inserir no banco e nas coleções criadas os dados extraídos da API.

O MongoDB é um banco orientado a documentos, 
portanto os registros devem estar em formato JSON.

In [1]:
import requests
import json
import pymongo
import pandas as pd

In [2]:
from pymongo import MongoClient

### 1. Conectando ao MongoDB Atlas

1. Entrar no MongoDB Atlas;
2. Criar um Cluster gratuito (se ainda não tiver);
3. Clicar em Connect > Connect your application.

In [ ]:
# Colar aqui a string de conexão do Atlas: NÃO COMPARTILHE SEU USUÁRIO E SENHA
MONGO_URI = ""

# Criar conexão
client = MongoClient(MONGO_URI)

### 2. Definindo URL para requisição da API

In [4]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@moeda='JPY'&@dataInicial='01-01-2023'&@dataFinalCotacao='09-01-2025'&$top=1000&$format=json&$select=paridadeCompra,paridadeVenda,cotacaoCompra,cotacaoVenda,dataHoraCotacao,tipoBoletim"

### 3. Criando a função para fazer a requisição e salvar o JSON na pasta Datasets

In [5]:
def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('datasetsJPY/jpyPeriodo.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

### 4. Executando a função para buscar os dados

In [6]:
requisicao_api (url)

Status Code: 200

### 5. Lendo o arquivo JSON salvo e transformando em DataFrame

In [7]:
jsondata = pd.read_json('datasetsJPY/jpyPeriodo.json')

dados_df = pd.json_normalize(jsondata['value'])

### 6. Visualizando as primeiras linhas do DataFrame

In [8]:
dados_df.head()

,paridadeCompra,paridadeVenda,cotacaoCompra,cotacaoVenda,dataHoraCotacao,tipoBoletim
0,130.72,130.75,0.04081,0.04082,2023-01-02 10:11:18.511,Abertura
1,130.64,130.66,0.04098,0.04099,2023-01-02 11:05:17.032,Intermediário
2,130.72,130.75,0.04089,0.04091,2023-01-02 12:10:16.594,Intermediário
3,130.78,130.81,0.04079,0.04081,2023-01-02 13:05:57.582,Intermediário
4,130.78,130.81,0.04085,0.04086,2023-01-02 13:05:57.593,Fechamento

### 7. Função para salvar o JSON numa Coleção MongoDB Atlas

In [9]:
db = client['db_cambio']  # criar banco de dados
colecao = db['cotacao_jpy_periodo']  # criar coleção

def salvar_mongodb(dados):
    registros = dados.to_dict(orient='records')  # converter DataFrame para lista de dicionários
    colecao.insert_many(registros)  # inserir múltiplos documentos na coleção
    print(f'{len(registros)} registros inseridos na coleção.')
salvar_mongodb(dados_df)

1000 registros inseridos na coleção.