## 1. Coleta de Dados

In [1]:
import pandas as pd

# Carregar o dataset
df = pd.read_csv('../../AtividadePratica1/EUR/datasetsEUR/eur_dia_csv.csv', sep=';')
# Exibir as primeiras linhas do DataFrame
df.head()

,paridadeCompra,paridadeVenda,cotacaoCompra,cotacaoVenda,dataHoraCotacao,tipoBoletim
0,"1,2031","1,2035","2,54215","2,55503",2006-03-06 09:19:00.0,Abertura
1,"1,2026","1,2028","2,55071","2,5547500000000003",2006-03-06 09:30:00.0,Intermediário
2,"1,2021","1,2023","2,55086","2,55369",2006-03-06 10:00:00.0,Intermediário
3,"1,2019","1,2018","2,54923","2,5514200000000002",2006-03-06 10:30:00.0,Intermediário
4,"1,202","1,2021","2,54824","2,54965",2006-03-06 11:00:00.0,Intermediário

- Com base na descrição fornecida pelo BCB, as colunas serão renomeadas para facilitação do entendimento. A moeda de referência para comparação será o dólar americano (USD).

    1. paridadeCompra: Paridade de compra Euro-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    2. paridadeVenda: Paridade de venda Euro-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    3. cotacaoCompra: Cotação de compra Euro contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    4. cotacaoVenda: Cotação de venda Euro contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    5. dataHoraCotacao: Data e hora da cotação.

        → Inclui data, hora e minuto das paridades e cotações.

    6. tipoBoletim: Tipo do boletim que gerou os dados.

        → Pode ser: Abertura, Intermediário, Fechamento Interbancário ou Fechamento.

In [2]:
# Dicionário de mapeamento (inglês para português simplificado)
mapeamento_colunas = {
    'paridadeCompra': 'Paridade_compra_Euro-USD',
    'paridadeVenda': 'Paridade_venda_Euro-USD',
    'cotacaoCompra': 'Cotacao_compra_Euro',
    'cotacaoVenda': 'Cotacao_compra_Euro',
    'dataHoraCotacao': 'Data_hora_cotacao',
    'tipBoletim': 'Tipo_boletim'
}

# Renomear as colunas
df = df.rename(columns=mapeamento_colunas)

# Verificar o resultado
df.head()

,Paridade_compra_Euro-USD,Paridade_venda_Euro-USD,Cotacao_compra_Euro,Cotacao_compra_Euro,Data_hora_cotacao,tipoBoletim
0,"1,2031","1,2035","2,54215","2,55503",2006-03-06 09:19:00.0,Abertura
1,"1,2026","1,2028","2,55071","2,5547500000000003",2006-03-06 09:30:00.0,Intermediário
2,"1,2021","1,2023","2,55086","2,55369",2006-03-06 10:00:00.0,Intermediário
3,"1,2019","1,2018","2,54923","2,5514200000000002",2006-03-06 10:30:00.0,Intermediário
4,"1,202","1,2021","2,54824","2,54965",2006-03-06 11:00:00.0,Intermediário

## 2. Análise do conjunto de dados

Verificação de dados faltantes no conjunto de dados

In [3]:
dados_faltantes = df.isnull().sum()

# Verificar se há dados faltantes
print("Dados faltantes por coluna:")
print(dados_faltantes)

Dados faltantes por coluna:
Paridade_compra_Euro-USD    0
Paridade_venda_Euro-USD     0
Cotacao_compra_Euro         0
Cotacao_compra_Euro         0
Data_hora_cotacao           0
tipoBoletim                 0
dtype: int64

In [4]:
#É possível verificar o tipo de dado de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Paridade_compra_Euro-USD  17 non-null     object
 1   Paridade_venda_Euro-USD   17 non-null     object
 2   Cotacao_compra_Euro       17 non-null     object
 3   Cotacao_compra_Euro       17 non-null     object
 4   Data_hora_cotacao         17 non-null     object
 5   tipoBoletim               17 non-null     object
dtypes: object(6)
memory usage: 948.0+ bytes