## 1. Coleta de Dados

In [1]:
import pandas as pd

# Carregar o dataset
df = pd.read_csv('../../AtividadePratica1/EUR/datasetsEUR/eur_periodo.csv', sep=';')
# Exibir as primeiras linhas do DataFrame
df.head()

,paridadeCompra,paridadeVenda,cotacaoCompra,cotacaoVenda,dataHoraCotacao,tipoBoletim
0,"1,0682","1,0683","5,6994","5,7006",2023-01-02 10:11:18.511,Abertura
1,"1,0677","1,0681","5,7163","5,719",2023-01-02 11:05:17.032,Intermediário
2,"1,0671","1,0675","5,7054","5,7081",2023-01-02 12:10:16.594,Intermediário
3,"1,0659","1,0663","5,6876999999999995","5,6905",2023-01-02 13:05:57.582,Intermediário
4,"1,0659","1,0663","5,6951","5,6979",2023-01-02 13:05:57.593,Fechamento

- Com base na descrição fornecida pelo BCB, as colunas serão renomeadas para facilitação do entendimento. A moeda de referência para comparação será o dólar americano (USD).

    1. paridadeCompra: Paridade de compra Euro-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    2. paridadeVenda: Paridade de venda Euro-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    3. cotacaoCompra: Cotação de compra Euro contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    4. cotacaoVenda: Cotação de venda Euro contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    5. dataHoraCotacao: Data e hora da cotação.

        → Inclui data, hora e minuto das paridades e cotações.

    6. tipoBoletim: Tipo do boletim que gerou os dados.

        → Pode ser: Abertura, Intermediário, Fechamento Interbancário ou Fechamento.

In [2]:
# Dicionário de mapeamento (inglês para português simplificado)
mapeamento_colunas = {
    'paridadeCompra': 'Paridade_compra_Euro-USD',
    'paridadeVenda': 'Paridade_venda_Euro-USD',
    'cotacaoCompra': 'Cotacao_compra_Euro',
    'cotacaoVenda': 'Cotacao_compra_Euro',
    'dataHoraCotacao': 'Data_hora_cotacao',
    'tipBoletim': 'Tipo_boletim'
}

# Renomear as colunas
df = df.rename(columns=mapeamento_colunas)

# Verificar o resultado
df.head()

,Paridade_compra_Euro-USD,Paridade_venda_Euro-USD,Cotacao_compra_Euro,Cotacao_compra_Euro,Data_hora_cotacao,tipoBoletim
0,"1,0682","1,0683","5,6994","5,7006",2023-01-02 10:11:18.511,Abertura
1,"1,0677","1,0681","5,7163","5,719",2023-01-02 11:05:17.032,Intermediário
2,"1,0671","1,0675","5,7054","5,7081",2023-01-02 12:10:16.594,Intermediário
3,"1,0659","1,0663","5,6876999999999995","5,6905",2023-01-02 13:05:57.582,Intermediário
4,"1,0659","1,0663","5,6951","5,6979",2023-01-02 13:05:57.593,Fechamento

## 2. Análise do conjunto de dados

Verificação de dados faltantes no conjunto de dados

In [3]:
dados_faltantes = df.isnull().sum()

# Verificar se há dados faltantes
print("Dados faltantes por coluna:")
print(dados_faltantes)

Dados faltantes por coluna:
Paridade_compra_Euro-USD    0
Paridade_venda_Euro-USD     0
Cotacao_compra_Euro         0
Cotacao_compra_Euro         0
Data_hora_cotacao           0
tipoBoletim                 0
dtype: int64

In [4]:
#É possível verificar o tipo de dado de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Paridade_compra_Euro-USD  1000 non-null   object
 1   Paridade_venda_Euro-USD   1000 non-null   object
 2   Cotacao_compra_Euro       1000 non-null   object
 3   Cotacao_compra_Euro       1000 non-null   object
 4   Data_hora_cotacao         1000 non-null   object
 5   tipoBoletim               1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB