## 1. Coleta de Dados

In [1]:
import pandas as pd

# Carregar o dataset
df = pd.read_csv('../../AtividadePratica1/JPY/datasetsjpy/jpy_periodo.csv', sep=';')
# Exibir as primeiras linhas do DataFrame
df.head()

,paridadeCompra,paridadeVenda,cotacaoCompra,cotacaoVenda,dataHoraCotacao,tipoBoletim
0,"130,72","130,75","0,040810000000000006","0,04082",2023-01-02 10:11:18.511,Abertura
1,"130,64","130,66","0,04098","0,040990000000000006",2023-01-02 11:05:17.032,Intermediário
2,"130,72","130,75","0,04089","0,04091",2023-01-02 12:10:16.594,Intermediário
3,"130,78","130,81","0,04079","0,040810000000000006",2023-01-02 13:05:57.582,Intermediário
4,"130,78","130,81","0,040850000000000004","0,04086",2023-01-02 13:05:57.593,Fechamento

- Com base na descrição fornecida pelo BCB, as colunas serão renomeadas para facilitação do entendimento. A moeda de referência para comparação será o dólar americano (USD).

    1. paridadeCompra: Paridade de compra Iene-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    2. paridadeVenda: Paridade de venda Iene-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    3. cotacaoCompra: Cotação de compra Iene contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    4. cotacaoVenda: Cotação de venda Iene contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    5. dataHoraCotacao: Data e hora da cotação.

        → Inclui data, hora e minuto das paridades e cotações.

    6. tipoBoletim: Tipo do boletim que gerou os dados.

        → Pode ser: Abertura, Intermediário, Fechamento Interbancário ou Fechamento.

In [2]:
# Dicionário de mapeamento (inglês para português simplificado)
mapeamento_colunas = {
    'paridadeCompra': 'Paridade_compra_Iene-USD',
    'paridadeVenda': 'Paridade_venda_Iene-USD',
    'cotacaoCompra': 'Cotacao_compra_Iene',
    'cotacaoVenda': 'Cotacao_compra_Iene',
    'dataHoraCotacao': 'Data_hora_cotacao',
    'tipBoletim': 'Tipo_boletim'
}

# Renomear as colunas
df = df.rename(columns=mapeamento_colunas)

# Verificar o resultado
df.head()

,Paridade_compra_Iene-USD,Paridade_venda_Iene-USD,Cotacao_compra_Iene,Cotacao_compra_Iene,Data_hora_cotacao,tipoBoletim
0,"130,72","130,75","0,040810000000000006","0,04082",2023-01-02 10:11:18.511,Abertura
1,"130,64","130,66","0,04098","0,040990000000000006",2023-01-02 11:05:17.032,Intermediário
2,"130,72","130,75","0,04089","0,04091",2023-01-02 12:10:16.594,Intermediário
3,"130,78","130,81","0,04079","0,040810000000000006",2023-01-02 13:05:57.582,Intermediário
4,"130,78","130,81","0,040850000000000004","0,04086",2023-01-02 13:05:57.593,Fechamento

## 2. Análise do conjunto de dados

Verificação de dados faltantes no conjunto de dados

In [3]:
dados_faltantes = df.isnull().sum()

# Verificar se há dados faltantes
print("Dados faltantes por coluna:")
print(dados_faltantes)

Dados faltantes por coluna:
Paridade_compra_Iene-USD    0
Paridade_venda_Iene-USD     0
Cotacao_compra_Iene         0
Cotacao_compra_Iene         0
Data_hora_cotacao           0
tipoBoletim                 0
dtype: int64

In [4]:
#É possível verificar o tipo de dado de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Paridade_compra_Iene-USD  1000 non-null   object
 1   Paridade_venda_Iene-USD   1000 non-null   object
 2   Cotacao_compra_Iene       1000 non-null   object
 3   Cotacao_compra_Iene       1000 non-null   object
 4   Data_hora_cotacao         1000 non-null   object
 5   tipoBoletim               1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB