## 1. Coleta de Dados

In [19]:
import pandas as pd

# Carregar o dataset
df = pd.read_csv('../../AtividadePratica1/CHF/datasetsCHF/chf_dia_csv.csv', sep=';')
# Exibir as primeiras linhas do DataFrame
df.head()

,paridadeCompra,paridadeVenda,cotacaoCompra,cotacaoVenda,dataHoraCotacao,tipoBoletim
0,"1,2969","1,2973","1,62877","1,63698",2006-03-06 09:19:00.0,Abertura
1,"1,2974","1,2977","1,63443","1,63712",2006-03-06 09:30:00.0,Intermediário
2,"1,2979","1,2984","1,6343200000000002","1,63649",2006-03-06 10:00:00.0,Intermediário
3,"1,2986","1,2991000000000001","1,63267","1,63484",2006-03-06 10:30:00.0,Intermediário
4,"1,298","1,2982","1,6330300000000002","1,63405",2006-03-06 11:00:00.0,Intermediário

- Com base na descrição fornecida pelo BCB, as colunas serão renomeadas para facilitação do entendimento. A moeda de referência para comparação será o dólar americano (USD).

    1. paridadeCompra: Paridade de compra Franco Suíço-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    2. paridadeVenda: Paridade de venda Franco Suíço-USD.

        → Moedas tipo A: USD/[moeda], Moedas tipo B: [moeda]/USD.

    3. cotacaoCompra: Cotação de compra Franco Suíço contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    4. cotacaoVenda: Cotação de venda Franco Suíço contra a unidade monetária corrente.

        → Fórmula: unidade monetária corrente/[moeda].

    5. dataHoraCotacao: Data e hora da cotação.

        → Inclui data, hora e minuto das paridades e cotações.

    6. tipoBoletim: Tipo do boletim que gerou os dados.

        → Pode ser: Abertura, Intermediário, Fechamento Interbancário ou Fechamento.

In [20]:
# Dicionário de mapeamento (inglês para português simplificado)
mapeamento_colunas = {
    'paridadeCompra': 'Paridade_compra_Franco_Suico-USD',
    'paridadeVenda': 'Paridade_venda_Franco_Suico-USD',
    'cotacaoCompra': 'Cotacao_compra_Franco_Suico',
    'cotacaoVenda': 'Cotacao_compra_Franco_Suico',
    'dataHoraCotacao': 'Data_hora_cotacao',
    'tipBoletim': 'Tipo_boletim'
}

# Renomear as colunas
df = df.rename(columns=mapeamento_colunas)

# Verificar o resultado
df.head()

,Paridade_compra_Franco_Suico-USD,Paridade_venda_Franco_Suico-USD,Cotacao_compra_Franco_Suico,Cotacao_compra_Franco_Suico,Data_hora_cotacao,tipoBoletim
0,"1,2969","1,2973","1,62877","1,63698",2006-03-06 09:19:00.0,Abertura
1,"1,2974","1,2977","1,63443","1,63712",2006-03-06 09:30:00.0,Intermediário
2,"1,2979","1,2984","1,6343200000000002","1,63649",2006-03-06 10:00:00.0,Intermediário
3,"1,2986","1,2991000000000001","1,63267","1,63484",2006-03-06 10:30:00.0,Intermediário
4,"1,298","1,2982","1,6330300000000002","1,63405",2006-03-06 11:00:00.0,Intermediário

## 2. Análise do conjunto de dados

Verificação de dados faltantes no conjunto de dados

In [21]:
dados_faltantes = df.isnull().sum()

# Verificar se há dados faltantes
print("Dados faltantes por coluna:")
print(dados_faltantes)

Dados faltantes por coluna:
Paridade_compra_Franco_Suico-USD    0
Paridade_venda_Franco_Suico-USD     0
Cotacao_compra_Franco_Suico         0
Cotacao_compra_Franco_Suico         0
Data_hora_cotacao                   0
tipoBoletim                         0
dtype: int64

In [22]:
#É possível verificar o tipo de dado de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Paridade_compra_Franco_Suico-USD  17 non-null     object
 1   Paridade_venda_Franco_Suico-USD   17 non-null     object
 2   Cotacao_compra_Franco_Suico       17 non-null     object
 3   Cotacao_compra_Franco_Suico       17 non-null     object
 4   Data_hora_cotacao                 17 non-null     object
 5   tipoBoletim                       17 non-null     object
dtypes: object(6)
memory usage: 948.0+ bytes